<a href="/">Home</a>
<a href="/about">About</a>
<a href="/form">Form</a>
<a href="/viewdata">View Data</a>

<% if(isAdmin) {%>
<a href="/admin">Admin</a>
<% } else {%>
<a href="/api">API</a>
    <% } %>