<%- include('./partials/head')%>
    <%- include('./partials/nav')%>
    <h1 class="h1">Enter details</h1>
    <form action="/savedata" method="POST">
      <input type="text" name="name" id="" /><br />
      <input type="number" name="age" id="" /><br />
      <input type="number" name="mobile" id="" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
